body {
  background: #f6f6f6 url('bg2.png');
  font-size: 18px;
  font-family: "Gill Sans", "Helvetica Neue", "Helvetica", sans-serif;
  color: #555;
  text-shadow: 1px 1px 1px #fff;
}
h1 {
  margin-top: 0;
  padding-bottom: 5px;
  color: #333;
  text-shadow: 1px 1px 1px #fff;
}
label {
  font-weight: bold;
}
span[role='label'] {
  color: #333;
  display: block;
}
div[role='container'] {
  width: 300px;
  padding: 25px;
  margin: auto;
  background: rgba(255,255,255,0.7);
  border: 1px solid #ddd;
  box-shadow: 0px 0px 5px #aaa;
  margin-top: 50px;
  border-radius: 7px;
}
p[role='description'] {
  margin: 5px 10px;
  padding: 0;
  font-size: 15px;
  width: 290px;
}
input[type='text'] {
  border-radius: 3px;
  margin: 3px 0;
  width: 290px;
  border: 1px solid #ccc;
  font-size: 15px;
  color: #333;
}
input[type='text']:focus {
  color: #000;
  box-shadow: 0px 0px 5px #06f;
  border: 1px solid #09f;
}
